body {
    background-image: 
    url(/images/tortilla.jpg); 
}

h1{
  width: 8em;
  box-shadow:  5px 5px 1px dimgray;
  background-color: burlywood;
}

h2{
   text-align: center;
    width: 8em;
    box-shadow:  5px 5px 2px dimgray;
    background-color: burlywood;
}

.Ingredientes{
  
  width: 15em;
  border: 1px black;
  padding:auto;  /* No me acuerdo como funciona esto todavia */
  background-color: antiquewhite;
}
.pasos {
    
    padding: auto;
    background-color: antiquewhite;
}
